.head {
    position: relative;
    width: 100%;
    color: black;
}

.navelement {
    display: block;
    background-color: white;
    transition-duration: 0.7s;
    text-align: left;
    width: 100px;
}

.navelement:hover {
    background-color: lightsteelblue;
    color: black;
    cursor: pointer;
    transform: translate(20px);
}
